section{
    background-color:coral;
}
.flex-container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.flex-item{
    background-color: orange;
    height: 200px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
section>div>:first-child{
    flex-basis: 50px;
}
